<h2>Enter a <mark>word</mark> and a <mark>definition</mark>:</h2>
<br><br>
<%= form_for :word, url: words_path do |f| %>
	<p>
		<%= f.label :word %> <br>
		<%= f.text_field :word %>
	</p> <br>

	<p>
		<%= f.label :definition %> <br>
		<%= f.text_area :definition %> 
	</p>

	<p>
		<%= select(:word, :form, [['Noun', 'Noun'], ['Adjective', 'Adjective'], ['Verb', 'Verb']]) %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>